body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "Area-4 Area-4 Area-4"
    "Area-2 Area-3 Area-3"
    "Area Area Area"
    "Area-5 Area-5 Area-6"
    "Area-11 Area-11 Area-11"
    "Area-9 Area-9 Area-10"
    "Area-8 Area-8 Area-8";
  padding: 0 2vw;
}

.pad-t {
  padding-top: 2vw;
}

/* Below style property is temporary */
.grid > * {
  overflow: hidden;
}

/* ------------------------------- MAIN HEADING ------------------------------- */

.main-heading {
  grid-area: Area-4;
  text-align: center;

  background-color: #1d1d1b;
  color: #cdc6be;
}

.main-heading h1 {
  font-size: 20vw;
}

/* ------------------------------- INTERACTIVE ARTIST ------------------------------- */

.interactive-artist {
  grid-area: Area-2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interactive-artist img {
  width: 80%;
}

.interactive-artist h2 {
  max-width: 80%;
  font-size: 5vw;
  word-wrap: break-word;
}

.interactive-artist h5 {
  font-size: 2.25vw;
  max-width: 95%;
}

/* ------------------------------- SKILLS ------------------------------- */

.skills {
  grid-area: Area-3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills img {
  width: 100%;
}

.skills h2 {
  font-size: 6vw;
}

/* ------------------------------- STAMP ------------------------------- */
.stamp {
  grid-area: Area;
}
.stamp-flex {
  display: flex;
  justify-content: space-between;
  /* gap: 2vw; */
}

.stamp .txt-content {
  background-color: #1d1d1b;
  color: #cdc6be;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 8vw;
  width: 75vw;
}

/* ------------------------------- LATEST WORK ------------------------------- */

.latest-work {
  grid-area: Area-5;
}

.latest-work .txt-content {
  display: flex;
  padding-bottom: 5vw;
}

.latest-work img {
  width: 100%;
}

.latest-work .description {
  width: 40%;
}

.latest-work .description h2 {
  font-size: 4vw;
}

.latest-work .description h5 {
  font-size: 2vw;
}

.latest-specific-post {
  padding: 0 2vw;
}

.latest-work .latest-specific-post {
  width: 60%;
}

/* ------------------------------- WHAT CAN I DO ------------------------------- */

.what-can-i-do {
  grid-area: Area-6;

  padding-top: 2vw;
}

.what-can-i-do h1 {
  font-size: 3.5vw;
  text-align: center;
}

.what-can-i-do h5 {
  padding-top: 3vw;
  font-size: 2vw;
  line-height: 3vw;
}

.what-can-i-do a {
  border: 1px solid rgba(29, 29, 27, 0.5);
  padding: 5vw 20%;
  border-radius: 50%;
  font-size: 2vw;

  line-height: 20vw;
  margin: 0 4vw;

  text-decoration: none;
  color: inherit;
}
