body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Canopee Regular", sans-serif;
  font-weight: 400;
  letter-spacing: -0.05em;
}

h4,
h5,
h6,
p {
  font-family: "Editorial New Light";
  font-weight: 300;
}

.grid {
  background-color: #c4bdb5b3;

  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "Area-4 Area-4 Area-4"
    "Area-2 Area-3 Area-3"
    "Area Area Area"
    "Area-5 Area-5 Area-6"
    "Area-11 Area-11 Area-11"
    "Area-9 Area-9 Area-10"
    "Area-8 Area-8 Area-8";
  padding: 0 2vw;
}

.pad-t {
  padding-top: 2vw;
}

/* Below style property is temporary */
.grid > * {
  overflow: hidden;
}

/* ------------------------------- MAIN HEADING ------------------------------- */

.main-heading {
  grid-area: Area-4;
  text-align: center;

  background-color: #1d1d1b;
  color: #cdc6be;
}

.main-heading h1 {
  font-size: 38vw;
  letter-spacing: -0.035em;
  font-weight: 400;
  line-height: 32vw;
}

/* ------------------------------- INTERACTIVE ARTIST ------------------------------- */

.interactive-artist {
  grid-area: Area-2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-right: 2vw;
  border-right: 2px solid #1d1d1b80;
}

.interactive-artist img {
  width: 80%;
}

.interactive-artist h2 {
  font-size: 7vw;
  text-align: center;
  word-wrap: break-word;

  line-height: 9vw;
}

.interactive-artist h2 span {
  font-size: 13vw;
}

.interactive-artist h5 {
  font-size: 2.25vw;
  max-width: 95%;
  letter-spacing: -0.02em;
  line-height: 2.7vw;
}

/* ------------------------------- SKILLS ------------------------------- */

.skills {
  grid-area: Area-3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills img {
  width: 100%;
}

.skills h2 {
  font-size: 8.5vw;
}

/* ------------------------------- STAMP ------------------------------- */
.stamp {
  grid-area: Area;
}
.stamp-flex {
  display: flex;
  justify-content: space-between;
  /* gap: 2vw; */
}

.stamp .txt-content {
  background-color: #1d1d1b;
  color: #cdc6be;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 13vw;
  width: 72vw;
}

.stamp img {
  width: 22vw;
  margin-left: 5vw;
}

/* ------------------------------- LATEST WORK ------------------------------- */

.latest-work {
  grid-area: Area-5;

  padding-right: 2vw;
  border-right: 2px solid #1d1d1b80;
}

.latest-work .txt-content {
  display: flex;
  padding-bottom: 5vw;
}

.latest-work .txt-content > * {
  flex: 1;
}

.latest-work img {
  width: 100%;
}

.latest-work .description {
  border-right: 2px solid #1d1d1b80;
}

.latest-work .description h2 {
  font-size: 5.5vw;
}

.latest-work .description h5 {
  font-size: 2.6vw;
  line-height: 3vw;
  text-align: left;
  letter-spacing: -0.03em;
  width: 90%;
  margin-top: 1vw;
}

.latest-specific-post {
  padding-left: 2vw;
}

.latest-specific-post h3 {
  font-size: 2.2vw;
  margin-top: 0.5vw;
}

.latest-specific-post p {
  font-size: 1.2vw;
  line-height: 1.5vw;
  letter-spacing: -0.01em;
  margin-top: 1vw;
}

/* ------------------------------- WHAT CAN I DO ------------------------------- */

.what-can-i-do {
  grid-area: Area-6;

  padding-top: 2vw;
}

.what-can-i-do h1 {
  font-size: 7.2vw;
  text-align: center;
  line-height: 9vw;
  letter-spacing: -0.06em;
  margin-bottom: 2vw;
}

.what-can-i-do h1 span {
  font-size: 14vw;
}

.what-can-i-do h5 {
  margin-bottom: 3vw;
  font-size: 2.25vw;
  line-height: 2.7vw;
  letter-spacing: -0.019em;
}

.what-can-i-do a {
  border: 1px solid rgba(29, 29, 27, 0.5);
  background-color: #d3cbc2;
  border-radius: 50%;

  text-decoration: none;
  color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw;
  font-size: 6vw;
  letter-spacing: -0.04em;

  font-family: "Canopee Regular", sans-serif;
}

/* ------------------------------- ACHIEVEMENTS ------------------------------- */

.achievements {
  grid-area: Area-11;
}

.achievements ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 3.5vw 0 3vw 0;
}

.achievements li {
  display: flex;
  gap: 0.5vw;
}

.achievements li .name {
  font-size: 1.7vw;
  text-align: center;
  line-height: 2vw;
  letter-spacing: -0.03em;
  font-family: "Editorial New Light", sans-serif;
}

.achievements li .name b {
  font-family: "Canopee Regular", sans-serif;
  font-weight: 400;
  font-size: 5vw;
  line-height: 5vw;
  letter-spacing: -0.045em;
}

.achievements li .value {
  font-size: 11vw;
  line-height: 6vw;
  font-family: "Times New Roman", Times, serif;
}

.achievements hr {
  color: #1d1d1b80;
}
